
.calltoaction-container{
    margin-bottom: 100px;
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(45deg, #87e0fd 0%,#ef5363 0%,#d806b2 100%);
}

h2{
    color: #fff;
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 20px;
}