    <div class="container">
        <div>
            <table class="table table-striped table-bordered" [ngClass]="{'contrast': contrast}" >
                <thead>
                    <tr>
                        <th *ngFor="let thtitle of data.thtitles">{{thtitle}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data.items">
                        <td *ngFor="let gap of getKeys(item)">
                            <ng-container *ngIf="gap != 'foto'; else img;">
                                {{item[gap] ? item[gap] : '-'}}
                            </ng-container>
                            <ng-template #img>
                                <img [src]="item[gap]" alt="">
                            </ng-template>    
                        </td>
                    </tr>
                </tbody>
            </table>                    
        </div>
    </div>
