<app-navbar></app-navbar>

<div class="projects-container">
        
    <h2>Projects</h2>

    <div class="project-card">
        <div class="card-deck">
            <div class="card"  *ngFor="let project of projects">
              <img class="card-img-top" [src]="project.image" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.description}}</p>
              </div>
            </div>
          </div>
    </div>
</div>

<app-footer></app-footer>