.projects-container{
    padding: 20px;
}

h2{
    font-size: 50px;
    margin-bottom: 100px;
}

.card-img-top{
    width: 100%;
    padding: 20px;
    vertical-align: top;
}

.card{
    width: 150px;
}