.banner-container{
    height: 80vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

#carouselExampleControls{
    z-index: 1;
}

.banner-content{
    width: 70%;
    position: absolute;
    z-index: 2; 
    text-align: center;
    background: linear-gradient(45deg, #87e0fd 0%,#ef5363 0%,#d806b2 100%);
    border-radius: 30px;
    color: #fff;
    padding: 30px;
}

.banner-content h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.banner-button{
    border: none;
    background: #fff;
    color: rgb(59, 59, 59);
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    outline: none;
    transition: all .3s ease;
}