<hr class="divider">


<div class="footer-container">
    
    <div class="footer-left">
        <h3 class="footer-title">Me convencieron</h3>
        <h4 class="footer-subtitle">Quiero asesorarme para escoger el plan perfecto</h4>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo electrónico">
            </div>
            <button type="button" class="footer-send">Listo</button>
        </form>
    </div>
    <div class="footer-bottom">
        <p>Despega tu carrera</p>
    </div>        
</div>